
@{
    ViewData["Title"] = "SupplierIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model List<Supplier>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p><a class="btn btn-default" asp-controller="admin" asp-action="SupplierCreate">Yeni Marka</a></p>

		<div class="portlet box red">

			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs"></i>Marka Listesi
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#portlet-config" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>
									ID
								</th>
								<th>
									Marka Adı
								</th>
								<th>
									Resim
								</th>
								<th>
									Aktif Mi
								</th>
							</tr>
						</thead>
						<tbody>

							@foreach (var item in Model)
							{

								<tr>
									<td style="vertical-align:middle">@item.SupplierID</td>
									<td style="font-weight:bold;vertical-align:middle">@item.BrandName</td>
									<td>
										<img src="~/resimler/@item.PhotoPath" width="65" height="35">
									</td>
									@if (item.Active)
									{
										<td style="color:green;font-weight:bold;vertical-align:middle">AKTİF</td>
									}
									@if (!item.Active)
									{
										<td style="color:red;font-weight:bold;vertical-align:middle">PASİF</td>
									}
									<td>
										<a class="btn btn-arrow-link" asp-action="SupplierEdit" asp-route-id="@item.SupplierID">Düzenle</a>
										<a class="btn btn-primary" asp-action="SupplierDetails" asp-route-id="@item.SupplierID">Detay</a>
										<a class="btn btn-danger" asp-action="SupplierDelete" asp-route-id="@item.SupplierID">Sil</a>

									</td>
								</tr>
							}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

