
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

@model MainPageModel
<!-- slider area start -->
<div class="home-1-slider-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-9 ">
				<div class="h1-slider">
					<!-- HOME SLIDER -->
					<div class="slider-wrap">
						<div class="fullwidthbanner-container">
							<div class="home-1">
								<ul>
									@foreach (var item in Model.SliderProducts)
									{
										<li data-transition="random" data-slotamount="7" data-masterspeed="1000">
											<img src="~/resimler/@item.PhotoPath" style="opacity:0.2;" alt="slide">
											<div class="tp-caption large_black sfr carousel-caption-inner" data-x="150" data-y="50" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
												 style="color:lavender; font-size:24px; font-weight:bold; letter-spacing: 1px; text-transform: uppercase;">
												@item.ProductName
											</div>
											<div class="tp-caption large_black sfr carousel-caption-inner" data-x="65" data-y="71" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
												 style="  font-size: 24px; font-style:italic; font-weight: normal; text-transform: uppercase;color: lightgreen;font-weight: bolder;">
												@Convert.ToInt32(@item.UnitPrice).ToString() TL
											</div>
											<div class="tp-caption lfb carousel-caption-inner" data-x="130" data-y="160" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
												 style="">
												<a href="/home/CartProcess/@item.ProductID" class="s-btn" style="background: transparent; color: lavender; border: 1px solid orangered; font-weight:bolder; font-size: 14px; display: inline-block; padding:10px 18px; text-transform: uppercase;">Sepete Ekle</a>
											</div>
										</li>
									}
								</ul>
							</div>
						</div>
					</div>
					<!-- END HOME SLIDER -->
				</div>
			
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3 ">
				<div class="single-special-products" >
					<h3 class="sp-module-title"><span>Günün Ürünü</span></h3>
					<div class="all-sp-slides">
						<!-- SP-SINGLE Product -->
						<div class="sp-single">
							<div class="sp-img-area">
								<img class="first-img" src="~/resimler/@Model.Productoftheday.PhotoPath" alt="" />
								<img class="hover-img" src="~/resimler/@Model.Productoftheday.PhotoPath" alt="" />
								<div class="quick-view-detail">
									<a href="/Home/Details/@Model.Productoftheday.ProductID">Detay</a>
								</div>
								<div class="sp-label-pro sp-label-pro-hot">Çok Satan!</div>
							</div>
							<div class="sp-info-area">
								<h2 class="product-name"><a title="@Model.Productoftheday.Notes" href="index.html#">@Model.Productoftheday.ProductName</a></h2>
								<div class="product-rating">
									<div class="ratingbox" title="" Rating="3/5">
										<div style="width:65px" class="stars-orange"></div>
									</div>
								</div>
								<p class="all-prices">
									<span class="sp-price main-price">$189.00</span>
								</p>
								<div class="sp-button">
									<div class="s-button">
										<a href="/Home/CartProcess/@Model.Productoftheday.ProductID" data-toggle="tooltip" data-placement="top" title="add to cart" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
									</div>
									<div class="s-button">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
									</div>
									<div class="s-button last-b ">
										<a href="index.html#" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- slider area end -->
<!-- header area end -->
<!-- new product area start -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title">
						<h3 style="background-color:#f32f6b;color:wheat;font-weight:bolder;padding-left:10px;">Yeni Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.NewProducts)
								{
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12" id="productList">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
												<img class="hover-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
											<div class="quick-view-detail">
													<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID">Detay</a>
											</div>
												<div class="sp-label-pro sp-label-pro-hot" style="color:wheat;font-weight:bolder;">Yeni!</div>
										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="@item.Notes" href="index.html#">@item.ProductName </a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:50px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price main-price">@item.UnitPrice</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
														<a asp-controller="Home" asp-action="CartProcess" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
														<a href="#productList" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
														<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- new product area end -->
<!-- special product area start -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title" >
						<h3 style="background-color:#afc8ad;color:wheat;font-weight:bolder;padding-left:10px;">Özel Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.SpecialProducts)
								{
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12" id="productList">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
												<img class="hover-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
											<div class="quick-view-detail">
													<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID">Detay</a>
											</div>
											<div class="sp-label-pro sp-label-pro-hot" style="background-color:#afc8ad;color:wheat;font-weight:bold">Özel!</div>
										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="@item.Notes" href="index.html#">@item.ProductName </a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:50px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price main-price">@item.UnitPrice</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
														<a asp-controller="Home" asp-action="CartProcess" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
														<a href="#productList" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
														<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- special product area end -->
<!-- discounted product area start -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title" >
						<h3 style="background-color:#116a7b;color:wheat;font-weight:bolder;padding-left:10px;">İndirimli Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.DiscountedProducts)
								{
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12" id="productList">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
												<img class="hover-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
											<div class="quick-view-detail">
													<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID">Detay</a>
											</div>
												<div class="sp-label-pro sp-label-pro-hot" style="background-color:#116a7b;color:wheat;font-weight:bold">%@item.Discount</div>
										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="@item.Notes" href="index.html#">@item.ProductName </a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:50px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price main-price">@item.UnitPrice</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
														<a asp-controller="Home" asp-action="CartProcess" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
														<a href="#productList" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
														<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- discounted product area end -->
<!-- highlighted product area start -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title" >
						<h3 style="background-color:#EE7214;color:wheat;font-weight:bolder;padding-left:10px;">Öne Çıkan Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.HighLightedProducts)
								{
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12" id="productList">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
												<img class="hover-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
											<div class="quick-view-detail">
													<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID">Detay</a>
											</div>
												<div class="sp-label-pro sp-label-pro-hot" style="background-color:#EE7214;color:wheat;font-weight:bold">
													<i class="fas fa fa-arrow-circle-up"></i>

									</div>
										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="@item.Notes" href="index.html#">@item.ProductName </a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:50px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price main-price">@item.UnitPrice</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
														<a asp-controller="Home" asp-action="CartProcess" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
														<a href="#productList" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
														<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- highlighted product area end -->
<!-- topseller product area start -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title" >
						<h3 style="background-color:#860A35;color:wheat;font-weight:bolder;padding-left:10px;">Çok Satan Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.TopSellerProducts)
								{
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12" id="productList">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
												<img class="hover-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
											<div class="quick-view-detail">
													<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID">Detay</a>
											</div>
												<div class="sp-label-pro sp-label-pro-hot" style="background-color:#860A35;color:wheat;font-weight:bold">
													<i class="fas fa fa-cart-plus"></i>
												</div>

										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="@item.Notes" href="index.html#">@item.ProductName </a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:50px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price main-price">@item.UnitPrice</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
														<a asp-controller="Home" asp-action="CartProcess" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
														<a href="#productList" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
														<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- topseller product area end -->
<!-- star product area start -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title" >
						<h3 style="background-color:#4F709C;color:wheat;font-weight:bolder;padding-left:10px;">Yıldızlı Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.StarProducts)
								{
								<!-- SP-SINGLE Product -->
								<div class="col-sm-12 col-md-12 col-lg-12" id="productList">
									<div class="sp-single">
										<div class="sp-img-area">
											<img class="first-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
												<img class="hover-img" src="~/resimler/@item.PhotoPath" alt="@item.ProductName" style="height:150px;" />
											<div class="quick-view-detail">
													<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID">Detay</a>
											</div>
												<div class="sp-label-pro sp-label-pro-hot" style="background-color:#4F709C;color:wheat;font-weight:bold">
													<i class="fas fa fa-star"></i>
												</div>

										</div>
										<div class="sp-info-area">
											<h2 class="product-name"><a title="@item.Notes" href="index.html#">@item.ProductName </a></h2>
											<div class="product-rating">
												<div class="ratingbox" title="" Rating="3/5">
													<div style="width:50px" class="stars-orange"></div>
												</div>
											</div>
											<p class="all-prices">
												<span class="sp-price main-price">@item.UnitPrice</span>
											</p>
											<div class="sp-button">
												<div class="s-button">
														<a asp-controller="Home" asp-action="CartProcess" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
												</div>
												<div class="s-button">
														<a href="#productList" data-toggle="tooltip" data-placement="top" title="add favorite" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-heart-o"></i> </a>
												</div>
												<div class="s-button last-b ">
														<a asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="top" title="view detail" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- star product area end -->


